.wolf-text-field {
    color: lightgray;
    background-color: rgba(0, 0, 0, 0.5);
    outline: none;
    border-width: 0;
    width: 100%;
    font-size: 12pt;
    padding: 2px;
    cursor: unset;  /* We don't want to replace the default cursor with the text one */
}
